<div class= "w-full">
  <h1 class= "mx-auto text-lg font-bold text-4xl">Welcome, <%= @user_name %></h1>
  <p>
    It's <%= Time. now %>.
    We have <%= pluralize(@total_orders, "order") %>.
  </p>
</div>